@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("public\assserts\FONTS\aristrotel\AristotelicaSmallCaps-Regular.ttf"); */
@font-face {
  font-family: sans-serif;
  src: url(Aristotelica\ Display\ DemiBold\ Trial.ttf);
  weight: 400
}


.inputWithBorder {
  border-bottom: 3px solid black;
}
.search-input {
  border: none !important;
}
.ant-input-wrapper {
  border: none !important;
}
.ant-input {
  border: none !important;
}
.border {
  border: 1px solid rgb(216, 210, 210) !important;
}
.ant-btn {
  border: none !important;
 font-family: sans-serif;
  padding-top: 7px;
  
}

.ant-menu-item-selected {
  padding-left: 48px;
  background-color: #ffffff !important;
  color: #2361dd !important;
  margin-left: 8px !important;
  
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.ant-menu-item:hover {
  background-color: #ffffff !important;
  color: #2361dd !important;
  margin-left: 8px !important;
 font-family: sans-serif;
  margin-left: 8px !important;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.ant-menu-item {
  margin-left: 8px !important;
 font-family: sans-serif;
}
.ant-menu-submenu-title:hover {
  color: #2361dd !important;
  background-color: #ffffff !important;
 font-family: sans-serif;
  margin-left: 8px !important;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.ant-menu-submenu-title {
  margin-left: 8px !important;
 font-family: sans-serif;
}

.ant-menu-submenu-title-selected {
  color: rgb(247, 244, 244) !important;
  background-color: #2361dd !important;
}

.ant-select-selector {
  height: 40px !important;
 font-family: sans-serif;
}
#loginForm_gender_help {
  margin-top: 8px !important;
 font-family: sans-serif;
}
.pharmacy-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ant-menu-inline {
  background-color: transparent !important;
 font-family: sans-serif;
}
.ant-layout-sider-trigger {
  display: none !important;
 font-family: sans-serif;
}
.anticon-menu-fold {
  color: white !important;
 font-family: sans-serif;
}
.ant-table-thead {
  background-color: #2361dd !important;
}

.ant-table-thead th {
  background-color: #2361dd !important;
  color: #ffffff !important;
 font-family: sans-serif;
}
.ant-table-wrapper {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.ant-menu-dark {
  background-color: #2361dd !important;
  color: #ffffff !important;
 font-family: sans-serif;
}
.anticon-menu-unfold {
  color: #ffffff !important;
 font-family: sans-serif;
}
.ant-menu-inline-collapsed {
  background-color: #2361dd !important;
}
.ant-menu-submenu-placement-rightTop {
  background-color: #2361dd !important;
}
.ant-menu-submenu-popup {
  background-color: #2361dd !important;
}
.ant-menu-dark {
  background-color: #2361dd !important;
}
.ant-menu-dark {
  background-color: #2361dd !important;
}
.ant-menu {
  background-color: #2361dd !important;
  color: #ffffff !important;
  border-radius: none !important;
 font-family: sans-serif;
}
.ant-tooltip {
  background-color: #2361dd !important;
  color: #ffffff !important;
 font-family: sans-serif;
}
.ant-menu-inline-collapsed-tooltip {
  background-color: #2361dd !important;
}
.ant-tooltip-arrow {
  background-color: #2361dd !important;
}

.custom-modal .ant-modal-title {
  color: #2361dd;
  font-size: 22px;
  font-family: "Aristotelica Display Trial", sans-serif;
  background-color: #f2f7ff !important;
 font-family: sans-serif;
}

.ant-modal-content {
  background-color: #f2f7ff !important;
  
}
.ant-modal-title {
  background-color: #f2f7ff !important;
  font-family: "Aristotelica Display Trial", sans-serif;
  font-size: 22px !important;
  color: #2361dd !important;
 font-family: sans-serif;
}
.categorie {
  font-family: "Aristotelica Display Trial", sans-serif;
 font-family: sans-serif;
}

.ant-upload {
  width: 100% !important;
}
.Appointment,
.categories,
.pharmacy-Requests,
.Active-Pharmacy,
.Register-Pharmacy,
.Doctor-Requests,
.pharmacy-Requests,
.Doctors {
  font-family: sans-serif;
  font-size: 22px !important;
}
.ant-btn-sm {
  background-color: #2361dd !important ;
  color: #ffffff !important;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal-bhai > .ant-modal-content {
  padding: 0px !important;
 font-family: sans-serif;
}
.ant-modal-title {
  margin-bottom: 20px !important;
 font-family: sans-serif;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* font-family: 'Aristotelica Display Trial', sans-serif; */
}
.pgh {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.font{
  font-family: sans-serif;
}
.ant-modal-content> .ant-modal-footer > .ant-btn{
  background: #2361dd !important;
  color: #f2f7ff !important;
}
